---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello fellow human!</h1>
			<p>
                Thats right! This site is 100% written by a human, no
                <a href="https://www.merriam-webster.com/wordplay/word-of-the-year">slop</a>
                here!
			</p>

			<p>
                My name is Aiden Jastrzembski, I am a software engineer based near Detroit,
                Michigan. Checkout my <a href="/blog">blog</a> or my <a href="/resume">resume</a>
                to learn more about me and my career! Checkout <a href="/about">How I got here</a>
                to learn how I got into software engineering in the first place!
			</p>

            <p>
                While my time at Atomic Industries has granted me experience in many areas of SWE,
                I have a soft spot for Zig, Rust, and systems level programming as a whole. If you
                think that I would be a good fit for your company, you can contact me [here].
            </p>

            <h5>
                My beliefs on AI
            </h5>
            <p>
                I believe that while AI can be an amazing tool in assisting developers in writing code,
                reading docs, and understanding new codebases, it is rarely (if ever) able to fully replace
                a real human developer. I don't know the future, no one does, but if
                <a href="https://mrshu.github.io/github-statuses/">github's uptime</a>
                is any indication, I think software engineering will be just fine. In general, I try to look
                for work places which hold these same beliefs.
            </p>
            <h5>
                Current Highlighted Project:
            </h5>
            <p>
                <a>Superstring</a> - a VCS using the idea of a superposition to avoid disrupting the
                developers focus. A VCS should stay out of the developers way as much as possible.
            </p>


            <!-- maybe some two truths one lie section? -->

		</main>
		<Footer />
	</body>
</html>
